.about-section {
  height: 100%;
  background-color: #d8d8d8;
  padding-top: 3%;
}

#about hr {
  z-index: 2;
  border-color: #000120;
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
  color: #000120;
}

.about-left-col {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.about {
  display: flex;
}

.about-right-col p {
  font-size: 18px;
  text-align: justify;
  font-family: "oxygen";
  padding-right: 5%;
}

button a {
  text-decoration: none;
}

.about-image {
  height: 450px;
}

@media (max-width: 769px) {
  .about-image {
    padding-left: 7%;
  }

  .about-right-col {
    padding-left: 15%;
  }
}

/*NEW MEDIA QUERY*/
/* @media only screen and (max-width: 1024px) {
  .banner-text h1 {
    font: 80px/1.1em "anton", sans-serif;
    letter-spacing: -1px;
    margin: 0 auto 12px auto;
  }
} */

@media only screen and (max-width: 900px) {
  .about-image {
    height: 400px;
  }
  .about-right-col p {
    padding: 0 18% 0 5%;
  }
  .download .about-content {
    padding-left: 5%;
  }
}

@media only screen and (max-width: 769px) {
  .about-image {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .banner-text h1 {
    font: 40px/1.1em "anton", sans-serif;
    margin: 0 auto 24px auto;
  }
  .banner-text h3 {
    font: 14px/1.9 "oxygen", sans-serif;
    width: 90%;
  }
  .social-links i {
    font-size: 20px;
  }
}
